<div class="container">
  <div class="row align-center-card">
    <div class="col-12 m-3">
      <h1>Sale</h1>
    </div>
    <div class="col-12 col-md-6">
      <div class="card-large mat-elevation-z4 m-3"  matRipple
           (click)="redirectTo('tables')"
      >
        <h1>Tavoli</h1>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card-large mat-elevation-z4 m-3"  matRipple (click)="redirectTo('home')" >
        <h1>Biliardi</h1>
      </div>
    </div>
  </div>
</div>
