<div class="container">
  <div class="row">
    <div class="col-8">
      <h2>Tavolo: {{data.n_table}}</h2>
          <div class="row">
              <div class="col-md-3 col-6 my-3" *ngFor="let category of catogories">
                <app-menu-items   [category]="category">
                </app-menu-items>
            </div>
            <router-outlet name="modal"></router-outlet>

          </div>
    </div>
    <div class="col-1">
      <mat-divider vertical style="height: 100vh"></mat-divider>
    </div>
    <div class="col-3">
      <mat-list role="list">
        <mat-list-item role="listitem">
          <h3 mat-line> Tavolo: </h3>
          <div><b>{{data.n_table}}</b></div>
          </mat-list-item>
        <mat-list-item role="listitem">
          <h3 mat-line> Apertura (durata) </h3>
          <div><b>000</b></div>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item role="listitem">
          <h3 mat-line> Servizi </h3>
          <div><b>000</b></div>
        </mat-list-item>
        <mat-list-item role="listitem">  <h3 mat-line> Tavolo </h3>
          <div><b>000</b></div> </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <h3 mat-line> Totale </h3>
          <div><b>000</b></div>
           </mat-list-item>
      </mat-list>
{{datas.currentMessage}}
    </div>
  </div>
</div>


