<div class="container">
  <div class="row">
    <div class="col-8">
      <h2>Tavolo: {{data.n_table}}</h2>
      <mat-tab-group>
        <mat-tab label="Bevande">
          <div class="row">
            <div class="col-4 my-3" *ngFor="let shoe of typesOfShoes">
              <app-menu-items></app-menu-items>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Second">
          <div class="row">
            <div class="col-4 my-3" *ngFor="let shoe of typesOfShoes">
              <app-menu-items></app-menu-items>

            </div>
          </div>
        </mat-tab>
        <mat-tab label="Drink">
          <div class="row">
            <div class="col-4 my-3" *ngFor="let shoe of typesOfShoes">
              <app-menu-items></app-menu-items>

            </div>
          </div>
        </mat-tab>
      </mat-tab-group>

    </div>
    <div class="col-1">
      <mat-divider vertical style="height: 100vh"></mat-divider>
    </div>
    <div class="col-3">
      <mat-list role="list">
        <mat-list-item role="listitem">Tavolo 2</mat-list-item>
        <mat-list-item role="listitem" class="position-relative"><span class="position-absolute" >Apertura (durata)</span>
          <span class="position-absolute" style="right: 0">000</span></mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item role="listitem">Servizi </mat-list-item>
        <mat-list-item role="listitem">Tavolo </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">Totale </mat-list-item>
      </mat-list>

    </div>
  </div>
</div>


