:host {
  position: relative;
  display: inline-block;
  width: 200px;
 // overflow: hidden;
}
.overlay {
  position: absolute;
  right: 0;
  left: 0;
bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.w-30{
  width: 30px;
}
