<div class="container">
  <div class="row">
    <div class="col-12 my-3">
      <h2>Magazzino</h2>
      <div class="row my-3">
        <div class="col-md-3 col-6">
          <mat-form-field>
            <mat-label>Filtra per Nome</mat-label>
            <input matInput [formControl]="nameFilter">
          </mat-form-field>
        </div>
        <div class="col-md-3 col-6">
          <mat-form-field>
            <mat-label>Filtra per categoria</mat-label>
            <mat-select [formControl]="positionFilter">
              <mat-option *ngFor="let category of catogories" [value]="category.value">
                {{category.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3 col-6">
          <mat-form-field>
            <mat-label>Filtra per Quantità</mat-label>
            <input matInput [formControl]="quantityFilter">
          </mat-form-field>
        </div>
      </div>
      <div class="table-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="_id" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
            <td mat-cell *matCellDef="let row;"> <span class="d-none"> {{row._id}}</span> </td>
          </ng-container>


          <!-- Name Column -->
          <ng-container matColumnDef="name" sticky style="">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome</th>
            <td mat-cell *matCellDef="let row">
              <mat-form-field (focusout)="updateDataTableValue({name: $event.target.value,_id:row._id})" >
                <input matInput [value]="row.name">
              </mat-form-field>
            </td>
          </ng-container>

          <!-- Price Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Prezzo netto</th>
            <td mat-cell *matCellDef="let row">
              <mat-form-field (focusout)="updateDataTableValue({price: $event.target.value,_id:row._id})" style="max-width: 100px">
                <input matInput [value]="row.price" type="number" step="0.5">
                <span matSuffix>€</span>
              </mat-form-field>
            </td>
          </ng-container>

          <!-- Category Column -->
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria</th>
            <td mat-cell *matCellDef="let row">
              <mat-form-field>
                <mat-select [(ngModel)]="row.category"
                            (selectionChange)="updateDataTableValue({category: $event.value, _id:row._id})">
                  <mat-option *ngFor="let category of catogories | slice:1:catogories.length" [value]="category.value">
                    {{category.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>

          <!-- Quantity Column -->
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantità</th>
            <td mat-cell *matCellDef="let row">
              <app-input-spinner [data]="{quantity: row.quantity,_id:row._id}" [rowValue]="row.quantity" (valueChange)="updateDataTableValue($event)"></app-input-spinner>
            </td>
          </ng-container>


          <ng-container matColumnDef="updated_at" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ultima modifica</th>
            <td mat-cell *matCellDef="let row"> {{row.updated_at | date :'dd/MM/yyyy HH:mm:ss'}} </td>
          </ng-container>

          <ng-container matColumnDef="actions" stickyEnd>
            <th mat-header-cell *matHeaderCellDef>
              <div class="d-flex align-items-center justify-content-center"><span>Azioni</span>
                <button class="d-inline" mat-icon-button color="primary" (click)="openDialog('Aggiungi',$event)">
                  <mat-icon aria-label="add">add</mat-icon>
                </button>
                <button mat-icon-button (click)="refresh()">
                  <mat-icon>refresh</mat-icon>
                </button>
              </div>

            </th>
            <td mat-cell *matCellDef="let row">
              <button mat-button (click)="openDialog('Elimina',row)"><i class="material-icons">
                delete
              </i></button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
  <div class="centered" *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
  </div>
</div>
