<div class="container">
  <div class="row ">
    <div class="col-12">
      <h2>Magazzino</h2>
      <mat-tab-group>
  <mat-tab label="Super Alcolici">
    <div class="col-4 my-3">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Cerca">
      </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row._id}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Prezzo </th>
          <td mat-cell *matCellDef="let row">
            <mat-form-field (input)="changeCategory({price: $event.target.value,_id:row._id})" style="max-width: 50px">
              <input matInput [value]="row.price" type="number" step="0.5">
              <span matSuffix>€</span>
            </mat-form-field>
             </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
          <td mat-cell *matCellDef="let row">
            <mat-form-field (input)="changeCategory({name: $event.target.value,_id:row._id})" style="max-width: 200px">
              <input matInput [value]="row.name">
            </mat-form-field>
             </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
          <td mat-cell *matCellDef="let row">
            <mat-form-field style="max-width: 200px">
            <mat-select [(ngModel)]="row.category" (selectionChange)="changeCategory({category: $event.value, _id:row._id})">
               <mat-option *ngFor="let category of catogories" [value]="category.value">
                {{category.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
            </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantità </th>
          <td mat-cell *matCellDef="let row">
            <mat-form-field (input)="changeCategory({quantity: $event.target.value,_id:row._id})" style="max-width: 50px">
              <input matInput [value]="row.quantity" type="number">
            </mat-form-field>
             </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </div>

  </mat-tab>
  <mat-tab label="Bevande">
    <div class="row">
      <div class="col-4 my-3" >
        test

      </div>
    </div>
  </mat-tab>
  <mat-tab label="Birra">
    <div class="row">
      <div class="col-4 my-3" >
        test

      </div>
    </div>
  </mat-tab>
  <mat-tab label="Cibi">
    <div class="row">
      <div class="col-4 my-3" >
       test

      </div>
    </div>
  </mat-tab>
</mat-tab-group>
    </div>
  </div>
  <div class="centered" *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
  </div>
</div>
