<h1 mat-dialog-title> <strong>{{action}}</strong> elemento </h1>
<div mat-dialog-content class="d-flex flex-column">
  <mat-form-field *ngIf="action != 'Elimina';">
    <input placeholder="Nome" matInput [(ngModel)]="localData.name" required>
  </mat-form-field>
  <mat-form-field *ngIf="action != 'Elimina';">
    <mat-select placeholder="Categoria" [(ngModel)]="localData.category" required>
      <mat-option *ngFor="let category of catogories" [value]="category.value">
        {{category.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="action != 'Elimina';">
    <input placeholder="Prezzo" matInput [(ngModel)]="localData.price" type="number" step="0.50" required
    >
  </mat-form-field>

  <div  *ngIf="action === 'Elimina';">Sicuro di eliminare <b>{{localData.name}}</b>?</div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()" [disabled]="!(localData.name && localData.category) ">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Annulla</button>
</div>
