<div class="row justify-content-center full-overlay">
  <div class="col-6 justify-content-start d-flex mt-5 flex-wrap">
    <div
      [ngClass]="{ 'bg-active': selectedIndex.includes(idx + 1) }"
      class="example-box m-3"
      *ngFor="let item of interni; let idx = index"
      [routerLink]="['/home', 'interno-' + (idx + 1)]"
    >
      Interni {{ idx + 1 }}
      <div class="example-handle">
        <!--        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">-->
        <!--          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>-->
        <!--          <path d="M0 0h24v24H0z" fill="none"></path>-->
        <!--        </svg>-->
      </div>
    </div>
  </div>
</div>
