<div class="container h100">
    <div class="row align-items-center h-100">
      <div class="col-12 col-md-4 my-auto mx-auto">
        <div class="text-center">
          <mat-card>
              <mat-card-title>
                Login
              </mat-card-title>
            <form novalidate  #loginForm="ngForm" (ngSubmit)="onSubmit()" class="m-3">
            <mat-form-field class="d-block">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" #email="ngModel"  required type="text" [(ngModel)]="user.email" name="username">
                <mat-error *ngIf="email.errors?.required">Email is required</mat-error>
              </mat-form-field>
              <mat-form-field class="d-block">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" #password="ngModel" required [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password" name="password">
                <button  type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="password.errors?.required">Password is required</mat-error>
              </mat-form-field>
<!--              <mat-checkbox class="d-block" [(ngModel)]="user.remember" name="remember">Remember Me</mat-checkbox>-->
              <button type="submit" mat-raised-button color="primary" class="d-block m-auto" [disabled]="loginForm.form.invalid">Login</button>
              <mat-error *ngIf="errMess">Email o Password errati!</mat-error>
            </form>
          </mat-card>
          <div class="centered" *ngIf="showSpinner">
            <mat-spinner></mat-spinner>
          </div>
        </div>
      </div>
    </div>
</div>
