.full-overlay{
  position: relative;
  z-index: 1;
 // height:200px;
  text-align: center;
 // background:url("../../../assets/img/table.jpg") no-repeat;
  background-size: contain;
  margin: 0 -16px;
 // @include dark-overlay;
  &.active-overlay{
    &:after{
      background:rgba(0, 0, 0, 0.50);
    }
  }
}
