.Table {
  display: table;
  width: 100%;
}
.Title {
  display: table-caption;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}
.Heading {
  display: table-row;
  font-weight: bold;
  text-align: center;
}
.Row {
  display: table-row;
}
.Cell {
  display: table-cell;
  border-bottom: 2px solid #dee2e6;
}
