<mat-toolbar color="primary">
  <button mat-button (click)="drawer.toggle()">
    <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
  </button>
  <span>App</span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space">{{userName}}</span>
  <button mat-button (click)="logout()" label="logout">
    <mat-icon aria-hidden="false" aria-label="Logout">power_settings_new</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-nav-list>
      <a mat-list-item
         routerLinkActive="list-item-active" [routerLink]="['/rooms']">Home
        <mat-icon matListIcon class="nav-list-icon">home</mat-icon>
      </a>
      <a mat-list-item
         routerLinkActive="list-item-active" [routerLink]="['/home']">Sala
        <mat-icon matListIcon class="nav-list-icon">home</mat-icon>
      </a>
        <a mat-list-item [routerLink]="['/settings']" routerLinkActive="list-item-active">Impostazioni
          <mat-icon matListIcon class="nav-list-icon">settings_applications</mat-icon>

        </a>
      <a mat-list-item [routerLink]="['/warehouse']" routerLinkActive="list-item-active">Magazzino
        <mat-icon matListIcon class="nav-list-icon">store</mat-icon>

      </a>
    </mat-nav-list>
  </mat-drawer>


    <router-outlet></router-outlet>

</mat-drawer-container>
<mat-toolbar class="app-version"><p>Package Ver. {{versionApp}}</p></mat-toolbar>
