<mat-toolbar color="primary">
  <button mat-button (click)="drawer.toggle()">
    <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
  </button>
  <span>Application Title</span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <button mat-button (click)="logout()" label="aaa">
    <mat-icon aria-hidden="false" aria-label="Logout">power_settings_new</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-nav-list>
      <mat-list-item>
        <a matLine [routerLink]="['/home']" [routerLinkActive]="'active'">Sala</a>
        <button mat-icon-button>
          <mat-icon>home</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <a matLine [routerLink]="['/settings']" [routerLinkActive]="'active'">Impostazioni</a>
        <button mat-icon-button>
          <mat-icon>settings_applications</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>


    <router-outlet></router-outlet>

</mat-drawer-container>
