.example-container {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.sidenav {
  min-width: 250px;
  position: fixed;
  top: 82px;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
  text-align: right;
}
.app-version {
  height: 30px;
  float: right;

  p {
    text-align: right;
    font-style: italic;
    font-size: 14px;
  }
}

.mat-sidenav {
  width: 300px;
}
li {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
