<div class="container">
  <div class="row align-center-card">
    <div class="">
      <a mat-button routerLink="/rooms" color="primary">
        <i class="material-icons f-50">
          keyboard_backspace
        </i></a>
    </div>
    <div class="col-12 m-3">
      <h1>Tavoli</h1>
    </div>
    <div class="col-12 col-md-6">
      <div class="card-large mat-elevation-z4 m-3"
           (click)="redirectTo('tables/in-door')"
           matRipple>
        <h1>Interni</h1>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card-large mat-elevation-z4 m-3"
           (click)="redirectTo('tables/out-door')">
          <h1>Esterni</h1>
      </div>
    </div>
  </div>
</div>
