<div class="col">
  <mat-card [ngClass]="{'active-card': running,  'pause-card' : !running }">
    <mat-card-header>
      <mat-card-title>Tavolo {{keyEl}}
      </mat-card-title>
    </mat-card-header>
    <div>
    <img [ngClass]="{'image-opacity': running }" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <app-spinner-in-progress *ngIf="running"></app-spinner-in-progress>
    </div>
    <mat-card-content>
      <div class="position-relative">
        <h1 class="custom-pos" [ngClass]="{'bounceIn': running}">{{hours}} : {{minutes}} : {{seconds}}</h1>
      </div>
      <mat-form-field>
        <mat-label class="display-4">Prezzo / 1h</mat-label>
        <input
          matInput
          #refPrice="ngModel"
          name="price"
          placeholder="Prezzo"
          type="number" step="0.50"
          [(ngModel)]="pphValue"
        >
        <span matPrefix>€&nbsp;</span>
      </mat-form-field>
      <div class="price" [ngClass]="{'bounceIn delay': running}"><h1>{{price}} €</h1></div>
    </mat-card-content>
    <mat-card-actions align="start">
      <button mat-raised-button	 (click)="startTimer()" *ngIf="!running" color="primary">
        <mat-icon aria-hidden="false" aria-label="Example home icon">play_arrow</mat-icon>
      </button>
      <button mat-raised-button	 (click)="startTimer()" *ngIf="running" color="accent">
        <mat-icon aria-hidden="false" aria-label="Example home icon">pause</mat-icon>
      </button>
      <button mat-raised-button	 (click)="clearTimer()" *ngIf="running" color="warn">
        <mat-icon aria-hidden="false" aria-label="Example home icon">stop</mat-icon>
      </button>
<!--      <button mat-fab color="primary" (click)="openDialog()"-->
<!--              class="menu-button"-->
<!--              [class.mat-elevation-z2]="!isOver"-->
<!--              [class.mat-elevation-z8]="isOver"-->
<!--              (mouseover)="isOver = true"-->
<!--              (mouseleave)="isOver = false">-->
<!--        <i class="material-icons" *ngIf="!openMenu">menu</i>-->
<!--        <i class="material-icons" *ngIf="openMenu">close</i>-->
<!--      </button>-->
      <button mat-fab color="primary" (click)="openDialog()" class="menu-button"> <mat-icon aria-hidden="false" aria-label="menu">menu</mat-icon></button>
    </mat-card-actions>
  </mat-card>

</div>
