.mat-card{
  width: 400px;
}
.active-card{
 //background-color: green;
}

.pause-card{
  //background-color: yellow;
}


.menu-button{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.custom-pos{
  position: absolute;
  right: 10px;
  top: -90px;
  color: #ffffff;
  z-index: 1;
}

.display-4{
  font-size: 16px;
}

.price{
 // display: inline-block;
 // align-items: flex-end;
}

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  &.delay{
    animation-delay: 1s;
  }
}

@keyframes moveOne {
  from {bottom: 2rem; opacity: 0;}
  to {bottom: 6rem;}
}
@keyframes moveOneLabel {
  from {bottom: 2rem; opacity: 0;}
  to {bottom: 6.5rem;}
}

@keyframes moveTwo {
  from {bottom: 2rem; opacity: 0;}
  to {bottom: 9.5rem;}
}
@keyframes moveTwoLabel {
  from {bottom: 2rem; opacity: 0;}
  to {bottom: 10rem;}
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}



.action-button{
  position: relative;
  right: 2rem;
  transition-property: opacity;
}
.label{
  position: relative;
  right: 5rem;
  left: auto;
  height: 25px;
  width: 100px;
  line-height: 25px;
  min-height: 25px;
  vertical-align: top;
  font-size: 12px;
  padding: 0 0;
  margin: 0;
}

.one{
  bottom: 6rem;
  animation: moveOne 0.2s;
}
.labelone{
  bottom: 6.5rem;
  animation: moveOneLabel 0.2s;
}

.two{
  bottom: 9.5rem;
  animation: moveTwo 0.25s;
}
.labeltwo{
  bottom: 10rem;
  animation: moveTwoLabel 0.25s;
}

.dialog_scrim {
  background: black;
  opacity: 0.4;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}


@mixin dark-overlay{
  &:after{
    content: "";
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;  // Take note of this negative z-index and compare to each article's positive z-index. This helps your content to show up over the overlay.
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

.full-overlay{
  position: relative;
  z-index: 1;
  height:200px;
  text-align: center;
  background:url("../../assets/img/table.jpg") no-repeat;
  background-size: cover;
  margin: 0 -16px;
  @include dark-overlay;
  &.active-overlay{
    &:after{
      background:rgba(0, 0, 0, 0.50);
    }
  }
}

.example-container {
  height: 270px;
  overflow: auto;
}

table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}
