<!--<div  class="card mb-4 py-3 border-left-primary m-4" [ngClass]="{'active-card': running,  'pause-card' : paused }">
  <div class="card-body mx-3"  [tabIndex]="keyEl + 1">
    <div class="d-flex justify-content-between f-small">
      <div><span class="f-large">B{{(keyEl + 1)| number}}</span></div>
      <div [ngClass]="{'bounceIn': running}"><span class="f-medium">{{hours}} : {{minutes}} : {{seconds}}</span>
      </div>
    </div>
    <hr/>
    <div class="d-flex justify-content-between my-3">
      <div [ngClass]="{'bounceIn delay': running} " class="f-large">  <b>{{price}} €</b></div>
    </div>
<div class="d-flex justify-content-start pt-3">
    <button mat-raised-button (click)="startTimer()" *ngIf="!running" color="primary">
      <mat-icon aria-hidden="false" aria-label="play">play_arrow</mat-icon>
    </button>
    <button mat-raised-button (click)="startTimer()" *ngIf="running" color="accent">
      <mat-icon aria-hidden="false" aria-label="pause">pause</mat-icon>
    </button>
    <button mat-raised-button (click)="clearTimer()" *ngIf="running" color="warn" class="mx-3">
      <mat-icon aria-hidden="false" aria-label="stop">stop</mat-icon>
    </button>
    <button mat-fab color="primary" (click)="openDialog()" class="menu-button">
      <mat-icon aria-hidden="false" aria-label="menu">menu</mat-icon>
    </button>
</div>
  </div>

</div>-->
<div class="card bg-primary shadow m-4 " matRipple [ngClass]="{'bg-active': running,  'pause-card' : paused }"
     (click)="startTable()">
  <div class="card-body center text-white">
    <h1>B{{(keyEl + 1)| number}}</h1>
<!--
    <div class="d-flex justify-content-start pt-3">
      <button mat-raised-button (click)="startTimer()" *ngIf="!running" color="primary">
        <mat-icon aria-hidden="false" aria-label="play">play_arrow</mat-icon>
      </button>
      <button mat-raised-button (click)="startTimer()" *ngIf="running" color="accent">
        <mat-icon aria-hidden="false" aria-label="pause">pause</mat-icon>
      </button>
      <button mat-raised-button (click)="clearTimer()" *ngIf="running" color="warn" class="mx-3">
        <mat-icon aria-hidden="false" aria-label="stop">stop</mat-icon>
      </button>
      <button mat-fab color="primary" (click)="openDialog()" class="menu-button">
        <mat-icon aria-hidden="false" aria-label="menu">menu</mat-icon>
      </button>
    </div>  </div>
-->
    <button mat-fab color="primary" [routerLink]="['/home',(keyEl + 1)| number]" class="menu-button">
      <mat-icon aria-hidden="false" aria-label="menu">menu</mat-icon>
    </button>
</div>
</div>
