<div class="container">
  <div class="row">
    <div class="col-12">
      <form
        novalidate
        [formGroup]="tablesForm"
        (ngSubmit)="onSubmit()"
        #fform="ngForm"
        class="my-3"
      >
        <h2>Gestione tavoli locale</h2>
        <mat-form-field class="mr-3">
          <input
            matInput
            placeholder="Numero tavoli Biliardi"
            type="number"
            formControlName="quantity"
          />
        </mat-form-field>
        <mat-form-field class="mr-3">
          <mat-label class="display-4">Prezzo / 1h</mat-label>
          <input
            matInput
            name="price"
            placeholder="Prezzo"
            type="number"
            step="0.50"
            formControlName="price"
          />
          <span matPrefix>€&nbsp;</span>
        </mat-form-field>
        <mat-form-field class="mr-3">
          <input
            matInput
            placeholder="Numero tavoli interni"
            type="number"
            formControlName="internal"
          />
        </mat-form-field>
        <mat-form-field class="mr-3">
          <input
            matInput
            placeholder="Numero tavoli esterni ombrelloni"
            type="number"
            formControlName="external_s"
          />
        </mat-form-field>
        <mat-form-field class="mr-3">
          <input
            matInput
            placeholder="Numero tavoli pedana"
            type="number"
            formControlName="external_c"
          />
        </mat-form-field>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          class=""
          [disabled]="tablesForm.invalid"
        >
          Salva
        </button>
      </form>
      <mat-divider></mat-divider>
    </div>
  </div>
</div>
<div class="centered" *ngIf="showSpinner">
  <mat-spinner></mat-spinner>
</div>
